.border-widget{
    border-radius: 0.375rem;
    border: 1px solid #babfc7;
}

#header {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    top: 15px;
    float: left;
    display: inline;
    position: absolute;
}

.tab-content{
    height: 100%;
}

.tab-parent{
    height: 100%;
}

.radio-buttons{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: inline;
}

#left-tab-radio-buttons{
    margin-left: 16px;
}

#container {
    height: 100vh;
    padding: 50px 100px;
}

#wordcloud {
    max-width: 100%;
    max-height: 100%;
    height: 450px;
    width: 600px;
    float: right;
}

.main-col {
    height: 100%;
}

.main-row {
    height: 50%;
}

.stretchy-widget {
    width: 100%;
    height: 100%;
}

.gallery{
    overflow-y: scroll;
}

.gallery-image{
    border: 2px solid #636363;
}

.gallery-col {
    text-align: center;
}

.gallery-row{
    padding-bottom: 20px;
    padding-top: 20px;
}

.gallery-text {
  color: #656565;
}

html, body {
    overflow: clip;
    height: 100%;
    margin: 0;
    padding: 0;
}